@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;600&display=swap');

#body {
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    overflow-x: hidden;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: -100%;
    color: #343434;
    font-family: 'Readex Pro', sans-serif;
}

#background {
    position: relative;
    height: 120vh;
    background-image: linear-gradient(180deg, #4D6CFA, #2DC7FF);
    width: 100%;
    z-index: -1;
    margin-top: -2%;
}

#top {
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: #FAFAFF;
    top: 0%;
    color: #4D6CFA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.26);
    z-index: 4;
    
}

#thingy {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 35px;
    font-size: 40px;
    left: 50%;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 600;
}

#bottom {
    position: -webkit-sticky;
    width: 100%;
    height: 100px;
    background-color: #343434;
    top: 0%;
    color:#FAFAFF;
}

#form {
    position: absolute;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 18%;
    font-size: 150%;
    padding: 50px;
    width: 60%;
    text-align: left;
    left: 50%;
    height: 300px;
    transform: translate(-50%, -50%);
    resize: none;
    background-color: #FAFAFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.26);
}

#yeah {
    position: absolute;
    border: none;
    outline: none;
    height: 200px;
    border-radius: 10px;
    margin-top: 46%;
    font-size: 150%;
    padding: 50px;
    width: 60%;
    text-align: left;
    left: 50%;
    transform: translate(-50%, -50%);
    resize: none;
    background-color: #FAFAFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.26);
}

#coolbutton {
    position: absolute;
    text-align: center;
    background-color: #343434;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #FAFAFF;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.26);
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 61%;
}

/* help */

